<% content_for(:title) {"The only notebook you'll ever need" } %>

<% content_for :content do %>
<% end %>

<div class="container">

	<%= render 'form' %>

	<%= link_to 'Back', project_notes_path(@note.project) %>
	
</div>