<% content_for(:title) {"The only notebook you'll ever need" } %>

	<% content_for :content do %>
	<% end %>

	<div class="container">
		
	<a href= "/" class="link"><%= image_tag "logo_FULL.png", id: "main_logo", width: "509px", alt: "SciAnts" %></a>
	
			<h1>The Only Notebook You&#39;ll Ever Need</h1>
				
			<br>
			
			<h2>Demo it now:
				<a href="/projects" class="link">Projects Dashboard</a>
			</h2>
			
			<div id="art">
				<%= image_tag "ants.png", id: "ants", alt: "Ants" %>
				<%= image_tag "ground_v3.png", id: "ground", alt: "Ground" %>
			</div>
			
			<div id="copy">
				<h2>The only notebook you&#39;ll ever need.</h2>
				<p>SciAnts allows scientists to maintain an open lab notebook in real-time where protocols, data, notes, papers are all stored securely in one place.</p> 
				
				<br><br>
				
				<h2>Pricing like it should be.</h2>
				<p>Starting a notebook and sharing openly is FREE. You only pay if you want to keep things private. </p>
				
				<br><br>
				
				<h2>Access your notebook from any device.</h2>
				<p>Browse your notes from anywhere on any device, take pictures of your experimental setup from your phone.  SciAnts uses the powerful functionality of Evernote to build a platform specifically tailored to the needs of a scientist.</p>
				
				<br><br>
				
				<h2>We&#39;re scientists too!</h2>
				<p>SciAnts is built by scientists for scientists.  We&#39;ve struggled with documents, PDFs, data, gel images lost in nooks and crannies.  We&#39;re committed to building the best online lab notebook in the world.</p>
				
				<br>
				
				<h2><a href="/about" class="link">About Us</a></h2>
				
				<br><br>
				
				<p>Copyright &#169; 2012 SciAnts</p>
				<p>Created at <a href="http://angelhack.com/">AngelHack Summer 2012</a></p>
				
			</div>
		</div>
	
