<% content_for(:title) {"The only notebook you'll ever need" } %>

<% content_for :content do %>
	<% end %>

	<div class="container">

		<h1>Edit Project</h1>

		<br />

		<%= render 'form' %>

		<button type="button" class="btn"><%= link_to 'Show', @project %></button>
		<button type="button" class="btn"><%= link_to 'Back', projects_path %></button>

	</div>