// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url('http://sciants.co/images/grid-18px-masked.png');
	background-repeat: repeat-x;
}

.container h1 {
	font-size: 2.4em;
}

.container h2 {
	font-size: 1.5em;
}

.container h1 , h2 {
	font-family: ArcherPro, Sans-Serif;
}

.container h1, h2, h3, p, ul, ol {
	margin-bottom: 5px;
}

.link {
	color: #005d89;
	text-decoration: none;
}

.link:hover {
	color: #ef417b;
	text-decoration: none;
	background-color: transparent;
}

.link:visited {
	color: #f13d25;
}

.link:visited:hover {
	color: #005d89;
}

.container li {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 18px;
	list-style-type: square;
}

.new_note {
	background-image:url('paper.gif');
}

.projects h1 {
	font-size: 2em;
}

.projects h2 {
	font-size: 1.5em;
}

.projects h3 {
	font-size: 1em;
}


/* IDs */

#aboutus {
	width: 750px;
	margin-bottom: 20px;
}

#aboutus h1, #abouth2 {
	margin-bottom: 20px;
}

#ants {
	position: absolute;
	z-index:8;
}

#cool {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 150px;
	border: 2px solid black;
}

#copy {
	position: relative;
	width: 700px;
	color: black;
	margin-top: 500px;
	margin-left: 120px;
	z-index:9;
}

#copy a {
	color: #D3D3D3;
}

#copy a:hover {
	color: #f13d25;
}

#copy h2 {
	color: #82da6f;
}

#footer {
	position: absolute;
	color: white;
	margin-top: 1380px;
	margin-left: 20px;
	z-index:8;
}

#ground {
	position: absolute;
	margin-top: -3px;
	z-index:1;
}

#main_logo {
	margin-bottom: 30px;
}

#new_project {
	margin-bottom: 50px;
}

#note_body {
	width: 800px;
}

table { 
	text-align: left; 
}

#project_description {
	width: 300px;
	height: 85px;
	vertical-align: text-top;
}

#red, #blue, #green {
	width: 20px;
	height: 15px;
	float: left;
	margin-right: 5px;
}

#red { background-color: #f13d25; }
#blue { background-color: #005d89; }
#green { background-color: #23a925; }

#search {
	margin-bottom: 70px;
}

#search_button {
	border: 1px solid black;
	padding: 2px;
	margin-top: -1px;
	margin-left: 15px;
	opacity:0.3;
	filter:alpha(opacity=30);
}

#search_button:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

#search div {
	padding-top: 3px;
	float: left;
}

#search input {
	float: left;
	height: 26px;
	width: 150px;
}

#to-do {
	margin-bottom: 50px;
}

#to-do li {
	width: 600px;
	border: 2px solid gray;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#to-do li img {
	float: right;
	margin-right: 5px;
	opacity:0.3;
	filter:alpha(opacity=30);
}

#to-do li img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

#user {
	float: right;
	margin-top: 10px;
}


/* Classes */

.brand:hover {
	background: none;
}

.btn a, .btn a:visited, .btn a:hover, , .btn a:active {
	color: black;
	text-decoration: none;
	background: none;
}

.btn-success a, .btn-success a:visited, .btn-success a:hover, , .btn-success a:active,
.btn-primary a, .btn-primary a:visited, .btn-primary a:hover, , .btn-primary a:active,
.btn-danger a, .btn-danger a:visited, .btn-danger a:hover, , .btn-danger a:active {
	color: white;
	text-decoration: none;
	background: none;
}

.calendar li {
	list-style: none;
}

.calendar span {
	width: 5px;
}

.clear {
	clear: both;
	height: 20px;
}

.container {
	margin-top: 5px;
	margin-bottom: 50px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: ProximaNova, Sans-Serif;
}

.demo_footer {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.demo_logo_Sci {
	color: #f13d25;
	font-family: ProximaNova, Sans-Serif;
}

.demo_logo_Ants {
	color: #005d89;
	font-family: ProximaNova, Sans-Serif;
}

.edit {
	margin-left: 3px;
	margin-right: 3px;
	opacity:0.5;
	filter:alpha(opacity=50);
}

.edit:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

.navbar-inner {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-outer {
	color: #2C2C2C;
	width: 100%;
}

.note_text {
	width: 900px;
	height: 600px;
}

.notes {
	border: 2px solid #d1eef3;
	height: 300px;
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px;
	background-image: url('http://sciants.co/images/grid.png');
}

.notes .btn, .projects .btn {
	margin-right: 4px;
}

.notes_date {
	float: right;
}

.notes:hover {
	border: 2px solid #ef417b;
}

.profpic {
	float: left;
}

.projects {
	width: 210px;
	height: 250px;
	border: 2px solid gray;
	float: left;
	margin-right: 35px;
	margin-bottom: 20px;
	padding: 8px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.projects h1 {
	line-height: 100%;
}

.project-right {
	float: right;
	margin-top: 2px;
}

.sciantist {
	float: left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	padding-top: 6px;
	padding-left: 5px;
}

.sciantist h3 {
	font-style:italic;
	margin-bottom: 10px;
	font-size: .85em;
}

.sciantist img {
	opacity:0.7;
	filter:alpha(opacity=70);
}

.sciantist img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}


/* Special */

@font-face { 
	font-family: ArcherPro; 
	src: url('http://sciants.co/fonts/ArcherPro-Medium.otf'); 
}

@font-face { 
	font-family: ProximaNova; 
	src: url('http://sciants.co/fonts/ProximaNova-Reg.otf'); 
}